io==1.84
argparse==1.1
dataclasses==built-in / no version attr
enum==built-in / no version attr
matplotlib==3.9.0
numpy==1.26.4
os==built-in / no version attr
pandas==2.2.2
random==built-in / no version attr
re==2.2.1
scipy==1.13.1
sklearn==1.6.1
statistics==built-in / no version attr
statsmodels==0.14.5
subprocess==built-in / no version attr
sys==built-in / no version attr
tempfile==built-in / no version attr
time==built-in / no version attr
tqdm==4.67.0